html {
	font: 16px;
}
body {
	background-image: url("https://images.unsplash.com/photo-1484795819573-86ae049cb815?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c2f1a5ca30bb23b6db35b356305d307&auto=format&fit=crop&w=1950&q=80");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
	font-family: 'Mina', sans-serif;
}

#myContent {
	font-size: 1rem;
	margin: auto;
	padding: 20px;
	width: 50%;
	max-width: 540px;
	background-color: rgba(255,255,255,0.8);
	border: 10px solid rgba(255,255,255,0.9);
}

.quote {
	border-left: gray;
	border-left-width: 5px;
	border-left-style: solid;
	padding-left: 5px;
	margin-top: 0px;
	font-family: 'cwTeXKai',serif;
	font-weight: bold;
}

h1 {
	font-size: 3rem;
	text-shadow: 2px 2px 5px gray;
	text-align: center;
}

h2 {
	color: white;
	text-shadow: 2px 2px 5px black;
	text-align: center;
}

.date {
	font-size: 1.5rem;
	color: #0080ff;
	font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;
}

.title{
	font-size: 1.3rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

#WeiDing {
	width: 50%;
	max-width: 270px;
}

iframe {
	max-width: 540px;
	width: 80%;
}
